In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Importing the Dataset

In [2]:
dataset = pd.read_csv('Melbourne_House_Data.csv')
dataset.dropna(inplace=True)
dataset.head(15)

,Suburb,Rooms,Type,Price,Method,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Regionname
1,Abbotsford,2,h,1035000,S,04-02-2016,2.5,3067,2,1,0.0,156,79.0,1900.0,Yarra,Northern Metropolitan
2,Abbotsford,3,h,1465000,SP,04-03-2017,2.5,3067,3,2,0.0,134,150.0,1900.0,Yarra,Northern Metropolitan
3,Abbotsford,2,h,890000,S,17-09-2016,2.5,3067,2,1,1.0,150,73.0,1985.0,Yarra,Northern Metropolitan
4,Abbotsford,4,h,1330000,PI,18-03-2017,2.5,3067,4,2,2.0,780,135.0,1900.0,Yarra,Northern Metropolitan
5,Airport West,3,h,600000,S,04-03-2017,13.5,3042,2,1,1.0,290,116.0,1980.0,Moonee Valley,Western Metropolitan
6,Airport West,2,u,500000,VB,04-03-2017,13.5,3042,2,1,1.0,168,86.0,2011.0,Moonee Valley,Western Metropolitan
9,Airport West,6,h,725000,SP,07-05-2016,13.5,3042,6,3,2.0,976,186.0,1980.0,Moonee Valley,Western Metropolitan
10,Airport West,2,t,450000,S,07-05-2016,13.5,3042,2,1,1.0,110,90.0,2015.0,Moonee Valley,Western Metropolitan
11,Airport West,2,u,515000,S,07-11-2016,13.5,3042,2,1,1.0,141,73.0,2013.0,Moonee Valley,Western Metropolitan
12,Airport West,2,u,530000,S,10-09-2016,13.5,3042,2,1,1.0,120,94.0,2012.0,Moonee Valley,Western Metropolitan
13,Airport West,3,h,895000,PI,10-09-2016,13.5,3042,3,1,6.0,1063,133.0,1975.0,Moonee Valley,Western Metropolitan
14,Airport West,3,h,805000,S,10-12-2016,13.5,3042,3,1,1.0,0,105.0,1950.0,Moonee Valley,Western Metropolitan
15,Airport West,3,u,752000,S,11-02-2017,13.5,3042,3,1,1.0,265,130.0,1993.0,Moonee Valley,Western Metropolitan
18,Airport West,3,t,700000,PI,15-10-2016,13.5,3042,3,2,2.0,165,133.0,2009.0,Moonee Valley,Western Metropolitan
19,Airport West,3,h,830000,S,16-04-2016,13.5,3042,3,1,2.0,971,113.0,1960.0,Moonee Valley,Western Metropolitan

Label Encoding "RegionName"

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset['Regionlabel'] = le.fit_transform(dataset['Regionname'])
dataset.drop(columns=['Regionname'], inplace=True)
dataset.head(7)

,Suburb,Rooms,Type,Price,Method,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Regionlabel
1,Abbotsford,2,h,1035000,S,04-02-2016,2.5,3067,2,1,0.0,156,79.0,1900.0,Yarra,2
2,Abbotsford,3,h,1465000,SP,04-03-2017,2.5,3067,3,2,0.0,134,150.0,1900.0,Yarra,2
3,Abbotsford,2,h,890000,S,17-09-2016,2.5,3067,2,1,1.0,150,73.0,1985.0,Yarra,2
4,Abbotsford,4,h,1330000,PI,18-03-2017,2.5,3067,4,2,2.0,780,135.0,1900.0,Yarra,2
5,Airport West,3,h,600000,S,04-03-2017,13.5,3042,2,1,1.0,290,116.0,1980.0,Moonee Valley,6
6,Airport West,2,u,500000,VB,04-03-2017,13.5,3042,2,1,1.0,168,86.0,2011.0,Moonee Valley,6
9,Airport West,6,h,725000,SP,07-05-2016,13.5,3042,6,3,2.0,976,186.0,1980.0,Moonee Valley,6

Applying Target Encoding

In [5]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.6.3-py2.py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: numpy>=1.14.0 in c:\users\ishtv\appdata\local\programs\python\python312\lib\site-packages (from category_encoders) (1.26.4)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\ishtv\appdata\local\programs\python\python312\lib\site-packages (from category_encoders) (1.4.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\ishtv\appdata\local\programs\python\python312\lib\site-packages (from category_encoders) (1.13.0)
Collecting statsmodels>=0.9.0 (from category_encoders)
  Downloading statsmodels-0.14.2-cp312-cp312-win_amd64.whl.metadata (9.5 kB)
Requirement already satisfied: pandas>=1.0.5 in c:\users\ishtv\appdata\local\programs\python\python312\lib\site-packages (from category_encoders) (2.2.2)
Collecting patsy>=0.5.1 (from category_encoders)
  Downloading patsy-0.5.6-py2.py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ishtv\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ishtv\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ishtv\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: six in c:\users\ishtv\appdata\local\programs\python\python312\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\ishtv\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ishtv\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in c:\users\ishtv\appdata\local\programs\python\python312\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (24.1)
Downloading category_encoders-2.6.3-py2.py3-none-any.whl (81 kB)
Downloading patsy-0.5.6-py2.py3-none-any.whl (233 kB)
Downloading statsmodels-0.14.2-cp312-cp312-win_amd64.whl (9.8 MB)
   ---------------------------------------- 0.0/9.8 MB ? eta -:--:--
   ------------- -------------------------- 3.4/9.8 MB 18.3 MB/s eta 0:00:01
   --------------------------- ------------ 6.8/9.8 MB 16.1 MB/s eta 0:00:01
   ---------------------------------------- 9.8/9.8 MB 16.5 MB/s eta 0:00:00
Installing collected packages: patsy, statsmodels, category_encoders
Successfully installed category_encoders-2.6.3 patsy-0.5.6 statsmodels-0.14.2

In [6]:
import category_encoders as ce
encoder = ce.TargetEncoder(cols='Suburb')

dataset['Suburb_Target_Price'] = encoder.fit_transform(dataset['Suburb'], dataset['Price'] )
dataset.drop(columns=['Suburb', 'Price'], inplace=True)
dataset.head(7)

,Rooms,Type,Method,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Regionlabel,Suburb_Target_Price
1,2,h,S,04-02-2016,2.5,3067,2,1,0.0,156,79.0,1900.0,Yarra,2,1.062832e+06
2,3,h,SP,04-03-2017,2.5,3067,3,2,0.0,134,150.0,1900.0,Yarra,2,1.062832e+06
3,2,h,S,17-09-2016,2.5,3067,2,1,1.0,150,73.0,1985.0,Yarra,2,1.062832e+06
4,4,h,PI,18-03-2017,2.5,3067,4,2,2.0,780,135.0,1900.0,Yarra,2,1.062832e+06
5,3,h,S,04-03-2017,13.5,3042,2,1,1.0,290,116.0,1980.0,Moonee Valley,6,8.066558e+05
6,2,u,VB,04-03-2017,13.5,3042,2,1,1.0,168,86.0,2011.0,Moonee Valley,6,8.066558e+05
9,6,h,SP,07-05-2016,13.5,3042,6,3,2.0,976,186.0,1980.0,Moonee Valley,6,8.066558e+05

Applying Ordinal Encoding

In [7]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()

dataset['Council_Area_Encoded'] = encoder.fit_transform(dataset[['CouncilArea']])
dataset['Type_Encoded'] = encoder.fit_transform(dataset[['Type']])
dataset['Method_Encoded'] = encoder.fit_transform(dataset[['Method']])

dataset.drop(columns=['CouncilArea','Type', 'Method'], inplace=True)
dataset.head(7)

,Rooms,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Regionlabel,Suburb_Target_Price,Council_Area_Encoded,Type_Encoded,Method_Encoded
1,2,04-02-2016,2.5,3067,2,1,0.0,156,79.0,1900.0,2,1.062832e+06,29.0,0.0,1.0
2,3,04-03-2017,2.5,3067,3,2,0.0,134,150.0,1900.0,2,1.062832e+06,29.0,0.0,3.0
3,2,17-09-2016,2.5,3067,2,1,1.0,150,73.0,1985.0,2,1.062832e+06,29.0,0.0,1.0
4,4,18-03-2017,2.5,3067,4,2,2.0,780,135.0,1900.0,2,1.062832e+06,29.0,0.0,0.0
5,3,04-03-2017,13.5,3042,2,1,1.0,290,116.0,1980.0,6,8.066558e+05,21.0,0.0,1.0
6,2,04-03-2017,13.5,3042,2,1,1.0,168,86.0,2011.0,6,8.066558e+05,21.0,2.0,4.0
9,6,07-05-2016,13.5,3042,6,3,2.0,976,186.0,1980.0,6,8.066558e+05,21.0,0.0,3.0

Other Categorical Transformations

In [8]:
dataset['Bedroom-to-bathroom Ratio'] = dataset['Bedroom2']/dataset['Bathroom']
dataset['Land-to-building Ratio'] = dataset['BuildingArea']/dataset['Landsize']
dataset['Age of Building'] = 2024 - dataset['YearBuilt']

dataset.drop(columns=['Bedroom2','Bathroom', 'BuildingArea', 'YearBuilt', 'Landsize','Date'], inplace=True)
dataset.head(7)

,Rooms,Distance,Postcode,Car,Regionlabel,Suburb_Target_Price,Council_Area_Encoded,Type_Encoded,Method_Encoded,Bedroom-to-bathroom Ratio,Land-to-building Ratio,Age of Building
1,2,2.5,3067,0.0,2,1.062832e+06,29.0,0.0,1.0,2.0,0.506410,124.0
2,3,2.5,3067,0.0,2,1.062832e+06,29.0,0.0,3.0,1.5,1.119403,124.0
3,2,2.5,3067,1.0,2,1.062832e+06,29.0,0.0,1.0,2.0,0.486667,39.0
4,4,2.5,3067,2.0,2,1.062832e+06,29.0,0.0,0.0,2.0,0.173077,124.0
5,3,13.5,3042,1.0,6,8.066558e+05,21.0,0.0,1.0,2.0,0.400000,44.0
6,2,13.5,3042,1.0,6,8.066558e+05,21.0,2.0,4.0,2.0,0.511905,13.0
9,6,13.5,3042,2.0,6,8.066558e+05,21.0,0.0,3.0,2.0,0.190574,44.0

Applying Binning on Distance

In [9]:
bin_edges = [0, 5, 15, float('inf')]
bin_labels = ['Near', 'Medium', 'Far']

dataset['Distance_Category'] = pd.cut(dataset['Distance'], bins=bin_edges, labels=bin_labels, right=True)
dataset.drop(columns=['Distance', 'Postcode'], inplace=True)
dataset.head(10)

,Rooms,Car,Regionlabel,Suburb_Target_Price,Council_Area_Encoded,Type_Encoded,Method_Encoded,Bedroom-to-bathroom Ratio,Land-to-building Ratio,Age of Building,Distance_Category
1,2,0.0,2,1.062832e+06,29.0,0.0,1.0,2.0,0.506410,124.0,Near
2,3,0.0,2,1.062832e+06,29.0,0.0,3.0,1.5,1.119403,124.0,Near
3,2,1.0,2,1.062832e+06,29.0,0.0,1.0,2.0,0.486667,39.0,Near
4,4,2.0,2,1.062832e+06,29.0,0.0,0.0,2.0,0.173077,124.0,Near
5,3,1.0,6,8.066558e+05,21.0,0.0,1.0,2.0,0.400000,44.0,Medium
6,2,1.0,6,8.066558e+05,21.0,2.0,4.0,2.0,0.511905,13.0,Medium
9,6,2.0,6,8.066558e+05,21.0,0.0,3.0,2.0,0.190574,44.0,Medium
10,2,1.0,6,8.066558e+05,21.0,1.0,1.0,2.0,0.818182,9.0,Medium
11,2,1.0,6,8.066558e+05,21.0,2.0,1.0,2.0,0.517730,11.0,Medium
12,2,1.0,6,8.066558e+05,21.0,2.0,1.0,2.0,0.783333,12.0,Medium

Apply Log transform

In [10]:
dataset['Age of Building Log'] = np.log(dataset["Age of Building"])

Final Transformed Dataset

In [11]:
dataset.head(25)

,Rooms,Car,Regionlabel,Suburb_Target_Price,Council_Area_Encoded,Type_Encoded,Method_Encoded,Bedroom-to-bathroom Ratio,Land-to-building Ratio,Age of Building,Distance_Category,Age of Building Log
1,2,0.0,2,1.062832e+06,29.0,0.0,1.0,2.000000,0.506410,124.0,Near,4.820282
2,3,0.0,2,1.062832e+06,29.0,0.0,3.0,1.500000,1.119403,124.0,Near,4.820282
3,2,1.0,2,1.062832e+06,29.0,0.0,1.0,2.000000,0.486667,39.0,Near,3.663562
4,4,2.0,2,1.062832e+06,29.0,0.0,0.0,2.000000,0.173077,124.0,Near,4.820282
5,3,1.0,6,8.066558e+05,21.0,0.0,1.0,2.000000,0.400000,44.0,Medium,3.784190
6,2,1.0,6,8.066558e+05,21.0,2.0,4.0,2.000000,0.511905,13.0,Medium,2.564949
9,6,2.0,6,8.066558e+05,21.0,0.0,3.0,2.000000,0.190574,44.0,Medium,3.784190
10,2,1.0,6,8.066558e+05,21.0,1.0,1.0,2.000000,0.818182,9.0,Medium,2.197225
11,2,1.0,6,8.066558e+05,21.0,2.0,1.0,2.000000,0.517730,11.0,Medium,2.397895
12,2,1.0,6,8.066558e+05,21.0,2.0,1.0,2.000000,0.783333,12.0,Medium,2.484907
13,3,6.0,6,8.066558e+05,21.0,0.0,0.0,3.000000,0.125118,49.0,Medium,3.891820
14,3,1.0,6,8.066558e+05,21.0,0.0,1.0,3.000000,inf,74.0,Medium,4.304065
15,3,1.0,6,8.066558e+05,21.0,2.0,1.0,3.000000,0.490566,31.0,Medium,3.433987
18,3,2.0,6,8.066558e+05,21.0,1.0,0.0,1.500000,0.806061,15.0,Medium,2.708050
19,3,2.0,6,8.066558e+05,21.0,0.0,1.0,3.000000,0.116375,64.0,Medium,4.158883
22,2,1.0,6,8.066558e+05,21.0,0.0,1.0,2.000000,0.163399,49.0,Medium,3.891820
23,3,5.0,6,8.066558e+05,21.0,0.0,1.0,1.500000,0.284314,74.0,Medium,4.304065
25,4,4.0,6,8.066558e+05,21.0,0.0,1.0,1.666667,0.581921,44.0,Medium,3.784190
26,3,2.0,6,8.066558e+05,21.0,0.0,0.0,1.000000,0.345946,44.0,Medium,3.784190
27,3,2.0,6,8.066558e+05,21.0,0.0,1.0,1.500000,0.298578,29.0,Medium,3.367296
29,3,1.0,6,8.066558e+05,21.0,1.0,3.0,1.000000,0.627329,14.0,Medium,2.639057
30,3,1.0,6,8.066558e+05,21.0,1.0,3.0,1.500000,0.348123,64.0,Medium,4.158883
31,3,1.0,6,8.066558e+05,21.0,0.0,1.0,3.000000,0.195164,49.0,Medium,3.891820
39,4,3.0,6,8.066558e+05,21.0,0.0,1.0,2.000000,0.232484,49.0,Medium,3.891820
40,2,0.0,5,1.653616e+06,24.0,0.0,1.0,2.000000,0.683333,124.0,Near,4.820282

In [13]:
dataset.to_csv('modified_Housing_Data.csv', index=False)